.row {
  background: black;
  margin: 5px 5px 5px 5px;
  border-radius: 15px;
}

.img-container {
  background: #343235;
  border-radius: 45px;
  width: 180px !important;
  height: 150px !important;
  min-width: 100px !important;
  min-height: 80px !important;
  position: relative !important;
  margin: .5rem;
  box-shadow: 0 3px 6px #999, 0 3px 1px #999;
}

.card-body>.img-container {
  overflow: hidden !important;
  text-align: center;
}

.card-img {
  max-height: 275px;
  height: 103%;
  width: 103%;
}

/* background:#6CADDC; */
/* background: #7ff982; */
/* background: #c4f8c3; */