.img-container {
    background: #fff;
    border-radius: 15px;
    width: 275px !important;
    height: 275px !important;
    min-width: 150px !important;
    min-height: 150px !important;
    position: relative !important;
    margin: .5rem; 
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  .card-body > .img-container {
    overflow: hidden !important;
    text-align: center;
    background:#6CADDC;
  }

  .card-img {
    max-height: 275px;
    height: 100%;
    width: 100%;
  }
 